<h1 mat-dialog-title>
    Edição de tarefa
</h1>

<mat-form-field class="example-form-field">
    <mat-label>Clearable input</mat-label>
    <input matInput type="text">
    <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

<mat-dialog-actions>
    <button class="mat-raised-button mat-primary" (click)="salvar()">Salvar</button>
    <button class="mat-raised-button" (click)="fechar()">Cancelar</button>
</mat-dialog-actions>