<h1>Criar usuário</h1>

<form>
    <mat-form-field color="accent" class="example-form-field example-full-width">
        <mat-label>Usuário</mat-label>
        <input aria-label="Digita o nome de usuário" name="username" autocomplete="off" matInput [(ngModel)]="newUser.username">
    </mat-form-field>
    <br>

    <mat-form-field color="accent" class="example-form-field example-full-width">
        <mat-label>Senha</mat-label>
        <input aria-label="Digite sua senha" type="password" name="senha" autocomplete="off" matInput [(ngModel)]="newUser.password">
    </mat-form-field>
    <br><br>

    <mat-dialog-actions>
        <button aria-label="Criar usuário" mat-raised-button color="primary" type="button" (click)="criarUsuario()">Criar usuário</button>
        <button aria-label="Cancelar" mat-stroked-button color="basic" type="button" (click)="fechar()">Cancelar</button>
    </mat-dialog-actions>
</form>
