<mat-sidenav-container>

    <mat-sidenav #sideNav>
        <mat-sidenav-list>
            <a mat-list-item type="button">
                <span class="title">Task Manager</span>
            </a>
            <a mat-list-item routerLink="/">
                <mat-icon class="icon">home</mat-icon>
                <span class="label">Home</span>
            </a>
            <a mat-list-item routerLink="/dashboard">
                <mat-icon class="icon">add</mat-icon>
                <span class="label">Adicionar tarefa</span>
            </a>
            <a mat-list-item routerLink="/dashboard">
                <mat-icon class="icon">input</mat-icon>
                <span class="label">Sair</span>
            </a>
        </mat-sidenav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
                (click)="sideNav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <span>Task Manager</span>
            <span class="example-spacer"></span>
            <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                <mat-icon>add</mat-icon>
            </button>
            <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                <mat-icon matBadge="{{notificacoes.length}}" matBadgeColor="accent">message</mat-icon>
            </button>
        </mat-toolbar>

        <main>
            <app-drag-drop></app-drag-drop>
        </main>

    </mat-sidenav-content>

</mat-sidenav-container>