<mat-sidenav-container>

    <mat-sidenav #sideNav>
        <mat-sidenav-list>
            <a mat-list-item type="button">
                <span class="title">Task Manager</span>
            </a>
            <a mat-list-item aria-label="Botão alto-contraste">
                <mat-slide-toggle id="slideToggle" [(ngModel)]="isChecked" (click)="mudarContraste()" color="warn"
                    class="example-margin">Alto-contraste </mat-slide-toggle>
            </a>
            <br>
            <a mat-list-item routerLink="/" aria-label="Botão de sair">
                <mat-icon class="icon" id="btnSair">input</mat-icon>
                <span class="label">Sair</span>
            </a>
            <div class="usuarioDetalhes">
                <hr>
                <h2>{{usuario}}</h2>
            </div>
        </mat-sidenav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar color="primary">

            <button id="menuButton" mat-icon-button id="btnModal" class="example-icon"
                aria-label="Botão de abrir o menu" (click)="sideNav.toggle()">
                <mat-icon id="menu">menu</mat-icon>
            </button>

            <span class="barraPesquisa">
                <form class="example-form">
                    <mat-form-field class="example-full-width">
                        <input (change)="onInputChange()" aria-label="Caixa de texto de pesquisa das categorias" autocomplete="off" matInput
                            placeholder="Pesquisar categoria" [(ngModel)]="categoriaPesquisada"
                            name="categoriaPesquisada">
                    </mat-form-field>
                </form>
            </span>

            <span class="example-spacer"></span>

            <button mat-button [matMenuTriggerFor]="menu" aria-label="Botão para adicionar uma nova tarefa" mat-icon-button
                class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                <mat-icon id="filtraTarefa">filter_list</mat-icon>
            </button>

            <mat-menu #menu="matMenu" aria-label="Botão filtro de tarefas">
                <button mat-menu-item aria-label="Botão todas as tarefas">Todas as tarefas</button>
                <button mat-menu-item aria-label="Botão tarefas concluídas">Tarefas concluídas</button>
                <button mat-menu-item aria-label="Botão tarefas não concluídas">Tarefas não concluídas</button>
            </mat-menu>

            <button aria-label="Botão para adicionar uma nova tarefa" (click)="abrirModalAdd()" mat-icon-button
                class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                <mat-icon id="adicionarTarefa">add</mat-icon>
            </button>
        </mat-toolbar>

        <main>
            <app-drag-drop [filtroCategoria]="categoriaPesquisada"></app-drag-drop>
        </main>

    </mat-sidenav-content>

</mat-sidenav-container>