<div class="row">
    <div class="col-6">
        <h1 mat-dialog-title>
            Detalhes da tarefa
        </h1>
    </div>
    <div class="col-6">
        <mat-checkbox color="warn" aria-label="Concluir tarefa" [(ngModel)]="newCategory.status" (click)="atualizarStatusTarefa()"
            class="checkConcluido">Concluido</mat-checkbox>
    </div>
</div>

<form>

    <div color="accent" class="example-full-width detalhes">
        <h3 id="detalhes">
            <h3>Eu tenho que {{newCategory.nome_tarefa}}</h3>
            <h3 *ngIf="newCategory.descricao != undefined">, ou seja, {{newCategory.descricao}}</h3>
            <h3 *ngIf="newCategory.data_inicio != undefined && newCategory.data_inicio != ''">, no dia {{newCategory.data_inicio | filtrarData}}</h3>
            <h3 *ngIf="newCategory.prazo != undefined && newCategory.prazo != ''">, até {{newCategory.prazo | filtrarData}}.</h3>
        </h3>
    </div>

    <mat-dialog-actions>
        <button aria-label="Botão para sair da tela de detalhes" class="mat-raised-button"
            (click)="fechar()">Sair</button>
    </mat-dialog-actions>

</form>