.externalContainer {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
}

.internalContainer {
    width: 100vw;
    height: 100vh;
    background-color: #303030;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.component {
    display: flex;
    align-items: center;
}

.links {
    margin-top: 30px;
}

.tituloLogin{
    padding: 20px;
}

.appDemo{
    background-color: #363636 !important;
}

@media(max-width: 660px){
    .appDemo{
        background-color: #303030 !important;
    }
    .tituloLogin{
        padding: 0px;
    }
    .separadorVertical h2{
        display: none;
    }
    .separadorVertical{
        position: relative;
        top: -50px;
        border-left: transparent;
    }
}