<mat-grid-list cols="3" rowHeight="100vh">
    <mat-grid-tile colspan=2>
        <h1>
            Demo
        </h1>
    </mat-grid-tile>

    <mat-grid-tile class="separadorVertical">
        <form>
            <h1>Task Manager</h1>

            <h2>Gerencie sua vida!</h2>
            <br><br>

            <h3>Fazer login no Task Manager</h3>
            <br>

            <mat-form-field color="accent" class="example-form-field example-full-width">
                <mat-label>Usuário</mat-label>
                <input name="username" autocomplete="off" matInput [(ngModel)]="user.username">
            </mat-form-field>
            <br>

            <mat-form-field color="accent" class="example-form-field example-full-width">
                <mat-label>Senha</mat-label>
                <input name="password" type="password" matInput [(ngModel)]="user.password">
            </mat-form-field>
            <br>

            <button mat-raised-button color="primary" (click)="login()">Entrar</button>
            <br>

            <div class="links">
                <button mat-stroked-button color="basic" (click)="abrirModalAddUser()">Cadastrar novo usuário</button>
                <br><br>
                <button mat-stroked-button color="basic" (click)="abrirModalEsqueci()">Esqueci minha senha</button>
            </div>
        </form>
    </mat-grid-tile>
</mat-grid-list>    
