
<div class="row dragDropBody">

    <div class="col-xl-4" *ngFor="let listaCategoria of listaCategorias | filtro: filtroCategoria">

        <h1 class="text-center categoria col-xl-12">{{listaCategoria}}</h1>

        <div cdkDropList (cdkDropListDropped)="drop($event)">
            <div cdkDrag *ngFor="let item of category">
                <div class="example-list" id="tarefa{{item.id}}" (dblclick)="abrirModalDetalhes(item)" *ngIf="listaCategoria == item.nome_categoria">
                    <div class="example-box" matTooltip="Dê dois clique para ver detalhes">
                        <h3>{{item.nome_tarefa}}</h3>
                        <div class="icones">
                            <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (click)="abrirModalEdit(item)">
                                <mat-icon aria-label="Botão para editar tarefa">create</mat-icon>
                            </button>
                            <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (click)="apagarCategoria(item.id)">
                                <mat-icon aria-label="Botão de deletar tarefa">delete</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
