<h1 mat-dialog-title>
    Criação de tarefa
</h1>

<mat-form-field class="example-form-field">
    <mat-label>Categoria</mat-label>

    <mat-select>
        <mat-option *ngFor="let categories of categoriesList" [value]="categories">
            {{categories}}
        </mat-option>
    </mat-select>
</mat-form-field>
<br>

<mat-form-field>
    <input matInput type="text" placeholder="Nome da tarefa">
    <button mat-button matSuffix mat-icon-button aria-label="Clear">
        <mat-icon>close</mat-icon>
    </button>
</mat-form-field>

<mat-dialog-actions>
    <button class="mat    sed-button mat-primary" (click)="criar()">Criar tarefa</button>
    <button class="mat    sed-button" (click)="fechar()">Cancelar</button>
</mat-dialog-actions>