.mat-dialog-actions {
    justify-content: space-around;
    padding: 8px 0;
    display: flex;
    flex-wrap: wrap;
    min-height: 52px;
    align-items: center;
    box-sizing: content-box;
    margin-bottom: -24px;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
  
.example-full-width {
width: 100%;
}

.checkConcluido{
    position: relative;
    top: 7px;
    float: right;
}