@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  background-color: mat-color(primary, '100-contrast');
}

.basic-container {
  padding: 30px;
}
.version-info {
  font-size: 8pt;
  float: right;
  margin: 8px;
}

.mat-drawer-container {
  min-height: 100vh !important;
}

.example-list {
  min-height: 35px !important;
  max-height: 45px !important;
}

.example-box{
  padding: 0 !important;
}

.cdk-drag{
  margin-bottom: 5px !important;
}

.mat-drawer-inner-container {
  overflow-y: hidden !important;
}

.mat-checkbox-indeterminate.mat-warn .mat-checkbox-background, .mat-checkbox-checked.mat-warn .mat-checkbox-background {
  background-color: rgb(45, 214, 45);
}

.concluido{
  border-left: 8px solid rgb(45, 214, 45) !important;
}

.concluidoContraste{
  border-left: 8px solid purple !important;
}
